# 0. 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/KIM/Desktop/회사/교육자료/노트북 자료 최종/교육용데이터.csv', encoding = 'utf-8')

In [202]:
#데이터 연습용으로 만들기

data = [[1000000000000,20220609,46,32015, 20190130,0, 999999991],[1000000000001,20220610,23,4564,20210324,12,35],[1000000000002,20220630,73,45644,20200316,17,999999991]]

#df = pd.DataFrame(data, columns=['rbc_no','base_date','미해제연체건수','총 등록금액','미해제 최초발생일자','최고 미상환 대출금액건의 업권','유효현금서비스한도소진율(15일기준)'])
df = pd.DataFrame(data, columns=['rbc_no','base_date','a','b','c','d','e'])

In [2]:
df

,rbc_no,base_date,미해제연체건수,(신용관리대상/공공정보) 총 등록금액,(채무불이행-신용정보사)미해제 최초발생일자,최고 미상환 대출금액건의 업권,최근3개월내 신용카드 평균 유효현금서비스한도소진율(15일기준)
0,1.000000e+12,20220629,1,39190,20190130,0,999999991
1,1.000000e+12,20220630,2,54579,20190504,1,12
2,1.000000e+12,20220629,23,792,20200316,2,34
3,1.000000e+12,20220605,5,468,20210416,5,76
4,1.000000e+12,20220629,53,4687,20210518,6,93
...,...,...,...,...,...,...,...
94,1.000000e+12,20220605,85,2497,20190504,12,999999991
95,1.000000e+12,20220605,63,246874,20200316,13,34
96,1.000000e+12,20220630,4,214646,20210416,15,999999991
97,1.000000e+12,20220605,83,2164,20210518,16,54
98,1.000000e+12,20220605,47,5789,20220601,17,75

In [180]:
#rename columns
df.columns = ['rbc_no', 'base_date', 'a', 'b','c','d','e']

In [181]:
df

          rbc_no  base_date   a       b         c   d          e
0   1.000000e+12   20220629   1   39190  20190130   0  999999991
1   1.000000e+12   20220630   2   54579  20190504   1         12
2   1.000000e+12   20220629  23     792  20200316   2         34
3   1.000000e+12   20220605   5     468  20210416   5         76
4   1.000000e+12   20220629  53    4687  20210518   6         93
..           ...        ...  ..     ...       ...  ..        ...
94  1.000000e+12   20220605  85    2497  20190504  12  999999991
95  1.000000e+12   20220605  63  246874  20200316  13         34
96  1.000000e+12   20220630   4  214646  20210416  15  999999991
97  1.000000e+12   20220605  83    2164  20210518  16         54
98  1.000000e+12   20220605  47    5789  20220601  17         75

[99 rows x 7 columns]

# (분포 현황 파악)

In [22]:
#분포 현황 파악 #0.1%, 99.9% 파악
p1 = np.percentile(df.b, 99.9) # df 데이터의 a 변수의 99.9% 값을 구함
p1

45616.742



# 1.날짜 처리 (yyymmdd -> yyyymm형태로)
ex. 20210513 -> 202105

In [39]:
# 어떤 유형의 변수인지 파악(ex. 수치형 변수, 문자형 변수)
print(type(df.c[0]))

#수치형 변수 (나누기 100 한 몫)
df.c = df.c //100

#문자형 변수 (끝 두자리 삭제)
#df.c = df.c[:-2]

<class 'numpy.int64'>

In [40]:
df.c

0    201901
1    202103
2    202003
Name: c, dtype: int64