# 0. 데이터 불러오기

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/KIM/Desktop/회사/교육자료/노트북 자료 최종/교육용데이터.csv', encoding = 'utf-8')

In [3]:
#데이터 연습용으로 만들기(간단한 것 확인용 데이터)
data = [[1000000000000,20220609,46,32015, 20190130,0, 999999991],[1000000000001,20220610,23,4564,20210324,12,35],[1000000000002,20220630,73,45644,20200316,17,999999991]]

#칼럼명 바꾸기
#df = pd.DataFrame(data, columns=['rbc_no','base_date','미해제연체건수','총 등록금액','미해제 최초발생일자','최고 미상환 대출금액건의 업권','유효현금서비스한도소진율(15일기준)'])
df = pd.DataFrame(data, columns=['rbc_no','base_date','a','b','c','d','e'])

In [2]:
df

,rbc_no,base_date,미해제연체건수,(신용관리대상/공공정보) 총 등록금액,(채무불이행-신용정보사)미해제 최초발생일자,최고 미상환 대출금액건의 업권,최근3개월내 신용카드 평균 유효현금서비스한도소진율(15일기준)
0,1.000000e+12,20220629,1,39190,20190130,0,999999991
1,1.000000e+12,20220630,2,54579,20190504,1,12
2,1.000000e+12,20220629,23,792,20200316,2,34
3,1.000000e+12,20220605,5,468,20210416,5,76
4,1.000000e+12,20220629,53,4687,20210518,6,93
...,...,...,...,...,...,...,...
94,1.000000e+12,20220605,85,2497,20190504,12,999999991
95,1.000000e+12,20220605,63,246874,20200316,13,34
96,1.000000e+12,20220630,4,214646,20210416,15,999999991
97,1.000000e+12,20220605,83,2164,20210518,16,54
98,1.000000e+12,20220605,47,5789,20220601,17,75

In [180]:
#rename columns
df.columns = ['rbc_no', 'base_date', 'a', 'b','c','d','e']

In [181]:
df

          rbc_no  base_date   a       b         c   d          e
0   1.000000e+12   20220629   1   39190  20190130   0  999999991
1   1.000000e+12   20220630   2   54579  20190504   1         12
2   1.000000e+12   20220629  23     792  20200316   2         34
3   1.000000e+12   20220605   5     468  20210416   5         76
4   1.000000e+12   20220629  53    4687  20210518   6         93
..           ...        ...  ..     ...       ...  ..        ...
94  1.000000e+12   20220605  85    2497  20190504  12  999999991
95  1.000000e+12   20220605  63  246874  20200316  13         34
96  1.000000e+12   20220630   4  214646  20210416  15  999999991
97  1.000000e+12   20220605  83    2164  20210518  16         54
98  1.000000e+12   20220605  47    5789  20220601  17         75

[99 rows x 7 columns]

# (분포 현황 파악)

In [22]:
#분포 현황 파악 #0.1%, 99.9% 파악
p1 = np.percentile(df.b, 99.9) # df 데이터의 a 변수의 99.9% 값을 구함
p1

45616.742

# 1. 상단처리

In [25]:
#방법1: 99.9% 값 상단처리
for i in range(len(df)):
    if df.b[i] > np.percentile(df.b, 99.9):
        df.b[i] = np.percentile(df.b, 99.9)
    else:
        continue

In [193]:
#방법2: where 사용
df.b = np.where(df.b > np.percentile(df.b, 99.9), np.percentile(df.b, 99.9), df.b)

In [194]:
df.b

0    32015.000
1     4564.000
2    45616.742
Name: b, dtype: float64

In [195]:
df

          rbc_no  base_date   a          b         c   d          e
0  1000000000000   20220609  46  32015.000  20190130   0  999999991
1  1000000000001   20220610  23   4564.000  20210324  12         35
2  1000000000002   20220630  73  45616.742  20200316  17  999999991

# 2. 상하단처리

In [204]:
#방법1 : 0.1%, 99.9% 값 상하단 처리
print(np.percentile(df.d, 99.9))
print(np.percentile(df.d, 0.1))

for i in range(len(df)):
    if df.d[i] > np.percentile(df.d, 99.9): 
        df.d[i] = np.percentile(df.d, 99.9)    # np.percentile(df.e, 99.9) 는 546 과 같은 하나의 숫자
    elif df.d[i] < np.percentile(df.d, 0.1):
        df.d[i] = np.percentile(df.d, 0.1)     # np.percentile(df.e, 0.1) 는 12와 같은 하나의 숫자
    else:
        continue

16.990000000000002
0.024

In [205]:
df.d

0     0
1    12
2    16
Name: d, dtype: int64

In [200]:
#방법2: where 사용
df.d = np.where(df.d > np.percentile(df.d, 99.9), np.percentile(df.d, 99.9), df.d)
df.d = np.where(df.d < np.percentile(df.d, 0.1), np.percentile(df.d, 0.1), df.d)

In [201]:
df.d

0     0.024
1    12.000
2    16.990
Name: d, dtype: float64

In [ ]:
#0.1, 99.9 "값" 상하단 처리
for i in range(len(df)):
    if df.e[i] > 99.9:
        df.e[i]=99.9
    elif df.e[i] < 0.1:
        df.e[i] = 0.1
    else

In [36]:
df.d

0     0
1    12
2    16
Name: d, dtype: int64